*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

ul li {
    list-style: none;
}

.container {
    margin: 0 6rem;
    min-height: 100vh;
    position: relative;
}

.section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}

.section.welcome {
    background-image: url('../img/Group-102-copy222.jpg');
    background-size: cover;
}

.idea {
    width: 100%;
    padding: 6rem 8rem;
    border-radius: 1rem;
    background-color: white;
    position: absolute;
    top: -260px;
    left: 0;
    color: #ffffff;
    background-image: url('../img/Group-1022.jpg');
    background-repeat: repeat-y;
    height: 645px;
    overflow: hidden;
}

.idea .road {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.idea-text-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.idea-info {
    padding: 0 50px;
}

.idea-info:last-child {
    display: flex;
    align-items: flex-end;
}

.relative {
    position: relative;
}

.bottom-0 {
    bottom: 0;
}

.bottom-min-50 {
    bottom: -50px;
}

.idea-text h1 {
    display: inline-block;
    margin-left: 12px;
}

.idea-text h5 {
    font-weight: 400;
}

.player {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
}

.button-player {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 8.5rem;
    bottom: 5.5rem;
}

.button-player button {
    background-color: #17ca9a;
    color: #ffffff;
    border: 0;
    border-radius: 100%;
    outline: none;
    cursor: pointer;
    position: relative;
}

.eff-1, .eff-2 {
    position: absolute;
    border-radius: 100%;
}

@media only screen and (min-width: 320px) {}
@media only screen and (min-width: 512px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1280px) {}